.App {
  text-align: center;
}

.App h1 {
  color: #ffc83d;
}

#userInput {
  margin-bottom: 2rem;
  outline: none;
  border-radius: 4px;
  border: 3px solid #ffc83d;
  height: 5rem;
  width: 25rem;
  text-align: center;
  font-weight: 700;
}

.display {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.emojis {
  padding: 1.5rem;
  margin: 0 auto;
  border-radius: 3px;
  background-color: #dedede;
  max-width: 40vw;
}

.emojiList {
  font-size: 1.75rem;
  margin: 0 2.0625rem;
  cursor: pointer;
}

.emojiHead {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  
}

.footer {
  margin: 1rem 0;
  text-decoration: none;
  font-weight: 100;
}
